body { 
    background:#1a1a1a; 
    color:#fff; 
    font-family:sans-serif; 
    margin:0; 
    padding:0; 
    /* Sayfa genelinde seçimi kapat */
    user-select: none; 
    -webkit-user-select: none;
}

#terminal { 
    background:#000; 
    color:#0f0; 
    height:40vh; 
    overflow-y:auto; 
    padding:10px; 
    /* Sadece terminal içinde seçime izin ver */
    user-select: text; 
    -webkit-user-select: text;
}

#controls, #settings { padding:10px; display:flex; flex-wrap:wrap; gap:5px; }
#settings.hidden { display:none; }
input, button { padding:5px; font-size:14px; border-radius:4px; border:1px solid #444; background:#333; color:#fff; }
button { cursor:pointer; font-weight:bold; }
.controls button { width:50px; height:50px; }
