:root { --yesil: #0f9; --mavi: #00ccff; --kirmizi: #ff3333; --arka: #080808; }
body { background: var(--arka); color: #eee; font-family: 'Segoe UI', sans-serif; margin: 0; overflow: hidden; }

.ust-bar { background: #111; padding: 10px 20px; border-bottom: 2px solid var(--yesil); display: flex; justify-content: space-between; font-weight: bold; color: var(--yesil); }

.ana-konteyner { display: flex; height: calc(100vh - 42px); }
.kontrol-paneli { width: 320px; background: #0f0f0f; border-right: 1px solid #333; padding: 25px; display: flex; flex-direction: column; gap: 20px; }

.siber-baslik { text-align: center; color: var(--yesil); text-shadow: 0 0 10px var(--yesil); margin: 0; }

.terminal-alani { flex: 1; padding: 20px; display: flex; flex-direction: column; }
.terminal-ekran { height: 450px; background: #000; border: 1px solid #222; overflow-y: auto; padding: 15px; font-family: 'Consolas', monospace; font-size: 14px; box-shadow: inset 0 0 10px #000; }

input, select { background: #151515; border: 1px solid #333; color: #fff; padding: 10px; width: 100%; box-sizing: border-box; }

button { background: transparent; border: 1px solid var(--mavi); color: var(--mavi); padding: 12px; cursor: pointer; font-weight: bold; transition: 0.3s; }
button:hover { background: var(--mavi); color: #000; }

.kirmizi-buton { border-color: var(--kirmizi); color: var(--kirmizi); }
.kirmizi-buton:hover { background: var(--kirmizi); color: #fff; }

.yesil-buton { border-color: var(--yesil); color: var(--yesil); }
.yesil-buton:hover { background: var(--yesil); color: #000; }

.hareket-merkezi { display: flex; flex-direction: column; align-items: center; gap: 8px; }
.orta-satir { display: flex; gap: 8px; }

.modal { display: none; position: fixed; top:0; left:0; width:100%; height:100%; background: rgba(0,0,0,0.9); z-index: 1000; justify-content: center; align-items: center; }
.modal-icerik { background: #111; padding: 30px; border: 2px solid var(--yesil); width: 350px; display: flex; flex-direction: column; gap: 15px; }
.ayar-satir { display: flex; justify-content: space-between; align-items: center; }
